<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sme/templates/login.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'signup' %}">Sign Up</a>
    <!-- <a href="{% url 'login' %}">Login</a> -->
    {% endif %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
</body>

</html>