<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sme/templates/signup.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>

            </ul>
        </nav>
    </header>

    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <!-- <a href="{% url 'signup' %}">Sign Up</a> -->
    <!-- <a href="{% url 'login' %}">Login</a> -->
    {% endif %}
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
    </main>
</body>

</html>