@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,800;1,6..12,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');



body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
    color: #333;
}


h1 {
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #6c757d;
    color: white;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    color: #333;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
}