@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,800;1,6..12,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');



body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
    color: #333;
}


main {
    width: 80%;
    margin: 20px auto;
}



nav {
    background-color: #0070ba;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 15px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #00457c;
}

.form-container {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0070ba;
    text-align: center;
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0070ba;
    color: white;
    border-color: #0070ba;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005c99;
}