@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,800;1,6..12,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');



body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.site-header {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navigation .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list .nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    color: #0070ba;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0056a4;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 60px 20px 20px;

}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    width: 350px;
}

.form-title {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.receipt-form {
    display: flex;
    flex-direction: column;
}

.receipt-form label {
    margin-bottom: 5px;
}

.receipt-form input,
.receipt-form select,
.receipt-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    background-color: #0070ba;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #0056a4;
}