@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,800;1,6..12,900&family=Roboto:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');



body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
    color: #333;
}


a {
    color: #0056b3;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #002663;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: white;
    margin: 0 15px;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #002663;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #002663;
    color: white;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    color: #333;
}

.footer {
    background-color: #002663;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}