<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Accounts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/receipts.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
    <nav>
        <ul>
            <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'account_list' %}">List Accounts</a></li>
            <li><a href="{% url 'create_account' %}">Create Account</a></li>
            <li><a href="{% url 'category_list' %}">List Categories</a></li>
            <li><a href="{% url 'create_category' %}">Create Category</a></li>
            <li><a href="{% url 'all_receipts' %}">List Receipts</a></li>
            <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
        </ul>
    </nav>
    {% endif %}
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipt_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>