<!-- category_list.html -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Expense Categories</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/category_list.css' %}">
</head>

<body>
    <h1>Expense Categories</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipt_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>