<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Category</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/create_category.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
    <nav>
        <ul>
            <li><a href="{% url 'account_list' %}">
                    Accounts Portable</a></li>
        </ul>
    </nav>
    {% endif %}
    <main>
        <div>
            <h1>Create Category</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>

</html>