<!DOCTYPE html>
<html>

<head>
    <title>Create Receipt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/create_receipt.css' %}"> 
</head>

<body>
    <header class="site-header">
        <nav class="navigation">
            <ul class="nav-list">
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                <li class="nav-item"><a href="{% url 'create_receipt' %}" class="nav-link">Create Receipt</a></li>
                <li class="nav-item"><a href="{% url 'account_list' %}" class="nav-link">List Accounts</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
                <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <div class="form-container">
            <h1 class="form-title">Create Receipt</h1>
            <form method="post" class="receipt-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-button">Create</button>
            </form>
        </div>
    </main>
</body>

</html>