{% load static %}


<!DOCTYPE html>
<html>

<head>
    <title>Create Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/create_account.css' %}">
</head>

<body>
    <main>
        <div>
            <h1>Create Account</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>

</html>