<!-- receipts/receipt_list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Receipts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/receipt_list.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'create_receipt' %}">Create Receipt</a>
    <a href="{% url 'account_list' %}">List Accounts</a>
    {% else %}
    <a href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <main>
        <h1 style="text-align: center;">My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"m/d/y" }}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>